/* top */
.image-container img {
    width: 100%;
}
.image-container .img1 {
    position: relative;
    width: 100%;
}
.image-container .img2 {
    position: absolute;
    width: 93.5%;
    left: 1rem;
    right: 1rem;
}
.cafe {
    position: absolute;
    top: 20px;
    margin-left: 10px;
}
.cafe h2 {
    color: white;
}

/* discount */
.title {
    display: flex;
}
.title h3 {
    margin-top: 15px;
    margin-left: 25px;
}


/* description */
.description{
    margin: 20px 20px 10px 20px;
}
.details {
    margin-top: 25px;
    border-top: 1px solid;
    padding-top: 15px;

}

/* location + like*/
.map-container  {
    margin-top: 20px;
}
.map-container .btn {
    height: 33px;
    width: 33px;
    background-image: url('../img/loc32.png');
    background-repeat: no-repeat;
    background-color: white;
    float:left;
}
.map-container img {
    width:25px;
    height: 25px;
    float:left;
}
.map-container p {
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}
.btn-like {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 18pt;
    border: none; 
}