/* top */
.image-container img {
    position: relative;
    width: 100%;
    height: 300px;
    filter: brightness(30%);
}

.cafe {
    position: absolute;
    top: 40px;
    margin-left: 30px;
    letter-spacing: 1.5px;
}
.cafe h2 {
    color: white;
}

/* discount */
.title {
    display: flex;
}
.title h3 {
    margin-top: 8px;
    margin-left: 15px;
}
.title img {
    width: 11%;
    height: 13%;
}

/* description */
.description{
    margin: 10px 20px;
}
.details {
    padding-top: 5px;
}
.details p {
    margin-left: 63px;
    text-align: justify;
}

/* location + like*/
.map-container  {
    margin-top: 20px;
}
.map-container .btn {
    height: 33px;
    width: 33px;
    background-image: url('../img/loc32.png');
    background-repeat: no-repeat;
    background-color: white;
    float:left;
}
.map-container img {
    width:25px;
    height: 25px;
    float:left;
}
.map-container p {
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}
.btn-like {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 18pt;
    border: none; 
}