.list-edit {
    list-style-type: none;
}
.like-list h1 {
    text-align: center;
    padding-bottom: 10px;
}

.list-edit li {
    padding:20px 20px 0 20px;
    border: 2px dashed black;
    width: 93%; 
    border-radius: 15px; 
    margin: 0 auto;
    margin-bottom: 20px;
}

.list-edit h4 { 
    font-size: 2rem;
    letter-spacing: 1.3px;
}

.list-edit img {
    width: 130px;
    height: 100px;
    margin-right: 7px;
}

.display-left {
    display: flex;
    flex-direction: column;
}
.display-left p {
    padding-top: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.like-list .btn {
    height: 37px;
    width: 37px;
    background-image: url('../img/sci.png');
    background-repeat: no-repeat;
    background-color: white;
    position: absolute;
    margin-left: 3px;
}
