* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-container {
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.blur-box {
  background: #000;
  font-weight: 300;
  cursor: pointer;
}
.navbar-brand {
  color: #fff !important;
  padding: 5px;
  margin-left: 13px;
}
.grid-item {
  float: left;
  width: 300px;
  height: 220px;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 18px -6px #524f52;
  -moz-box-shadow: 4px 4px 18px -6px #524f52;
  box-shadow: 4px 4px 18px -6px #524f52;
  background: url(../img/pizza.jpeg) center center no-repeat;
  background-size: cover;
  margin: 10px;
  position: relative;
}
.discountCard {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-radius: 8px;
}
.white-color {
  color: #fff;
}
.overlay-dark {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  color: white;
}
.overlay-light {
  background: rgba(255, 255, 255, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  color: black;
}
.height320 {
  height: 320px;
}
.height300 {
  height: 300px;
}
.bg-white {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}
.navbar {
  box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.3);
}
.navbar input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background: #f2f2f2;
}
#navbarNav {
  justify-content: flex-end;
}
.search-container button {
  float: right;
  padding: 5.5px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
@media (max-width: 730px) {
  .grid-item {
    float: none;
    max-width: 350px;
    height: 300px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-text {
    text-align: center;
  }
}
.beer {
  background-image: url(../img/pivas.jpg);
}
.coffee {
  background-image: url(../img/coffee.jpg);
}
.pizza {
  background-image: url(../img/pizza.jpeg);
}
