#filter-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#filter-container .menu-box {
  position: inherit;
}
.menu-container {
  position: fixed;
  display: flex;
  overflow: auto;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.menu-container .menu-box {
  position: relative;
  padding: 20px;
  background: #fff;
  width: 50vh;
  top: 100px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.menu-container .menu-box button {
  background: black;
  border: none;
}
.menu-container .menu-box button :active {
  border: none;
}
.menu-container .menu-box select {
  width: 100% !important;
  border: none;
  padding: 10px !important;
  border-radius: 5px;
}
.menu-container .menu-box .close-box {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.menu-container .menu-box .close-box i {
  cursor: pointer;
}
.menu-container .menu-box .search-container ::placeholder {
  color: black;
}
.menu-container .menu-box .search-container input {
  width: 100% !important;
  background: #f2f2f2;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.menu-container .menu-box .search-container button {
  display: none;
}
.notDisplay {
  display: none;
}
header .filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
header .filter-item h4{
  font-size: 16px;
  margin-right: 5px
}

header h4,
header h5 {
  font-size: 14px;
  padding-top: 8px;
  padding-right: 5px;
}
header select {
  background: #f2f2f2;
  border: none;
  padding: 5px;
}
header .navbar-toggler {
  border: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
header .search-form input[type="text"] {
  width: px;
  padding: 5px;
  font-size: 60px;
  line-height: 1;
}
header .search-input {
  border-radius: 5px 0 0 5px;
  background: #f2f2f2;
  font-size: 16px !important;
}
header .search-input::placeholder {
  color: black;
}
header .search-button {
  border-radius: 0 5px 5px 0;
  font-size: 16px;
}
#discount-modal .menu-box {
  width: 60%;
}
@media (max-width: 500px) {
  #discount-modal .menu-box {
    width: 100%;
    padding-top: 50px;
  }
}
.discount-details:after {
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 1110px) {
  .menu-box {
    width: 80%;
    align-items: flex-start;
  }
  .menu-box .grid-item {
    width: 95%;
    margin-right: 20px;
  }
}
@media (max-width: 320px) {
  #discount-modal .menu-box {
    width: 100%;
    padding-right: 20px;
  }
  #discount-modal .close-box {
    padding-top: 180px;
  }
}
@media (min-width: 330px) and (max-width: 450px) {
  #discount-modal {
    padding-top: 150px;
    z-index: 12312;
  }
  #discount-modal .close-box {
    padding-top: 80px;
  }
}
#filter-container > .menu-box {
  margin-top: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*user*/
#menu button {
  background-color: black;
  border: black;
  outline: none;
}
.profile-img {
  width: 100px;
  height: 100px;
  margin: 15px;
}
#profile-img {
  width: 32px;
  height: 32px;
}
#user-photo > img {
  width: 32px;
}
#menu {
  /*background:black;*/
  padding: 0;
  text-align: center;
  float: left;
  /*border-bottom: 6px solid black;*/
}
#menu ul {
  padding: 0;
  margin: 0;
}
#menu li {
  list-style: none;
  float: right;
}
#menu li ul {
  position: absolute;
  right: 16px;
  display: none;
}
#menu li ul li {
  float: none;
  display: inline;
  width: 200px;
  line-height: 50px;
}
#menu li ul li:hover {
  background: black;
}
#menu li:hover ul {
  display: block;
}
#menu li ul li {
  display: block;
  background: black;
}
ul {
  margin-bottom: 0;
}
.c-pointer{
  cursor: pointer;
}
a{
  color: black;
}
input{
  outline: none;
}
select:focus{outline: none;}
