#modalForDetails .modal-header {
    border-bottom: none ;
    padding: 0;
  }
  .modal-content {
    border: none;
  }
  .modal-body .search-container ::placeholder {
    color: black;
  }
  .modal-body .search-container input {
    width: 100% !important;
    background: #f2f2f2;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  .modal-body .search-container button {
    display: none;
  }
  .modal-body select {
    width: 100% !important;
    border: none;
    padding: 10px !important;
    border-radius: 5px;
    background: #f2f2f2;
  }
  .modal-body .btn-primary {
    background: black;
    border: none;
    width: 100%;
    padding: 10px;
  }
  .modal-body .btn-primary:hover {
    background: rgba(0, 0, 0, 0.9);
  }